.experiencia {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin-bottom: 30px;
  margin-top: 40px;
}
span {
  color: #525252;
  font-size: 0.875rem;
  font-weight: 400;
}
.ano {
  position: absolute;
  left: -100px;
  top: 22px;
}
.experiencia h1 {
  font-size: 9rem;
  text-transform: uppercase;
  color: #e0e0e0;
  line-height: 9rem;
  word-break: break-all;
  max-width: 4ch;
}
.texto {
  max-width: 40ch;
  padding:0px 0px 40px 0px;
  color: #525252;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
}
.texto strong {
  color: black;
}

.Projectos {
  display: grid;
  background-color: #f0f0f0;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.Projectos h2 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.Projectos h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: center;
}
.Projectos ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
}
.Projectos p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.Projectos li {
  font-size: 0.875rem;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
}
.Projectos::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, red 0%, blue 100%);
  position: absolute;
  top: 20px;
  left: -4px;
}
@media (max-width: 1000px) {
  .texto {

  justify-items: center;
  }
  span {
    display: none;
  }
  .experiencia {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experiencia h1 {
    color:#141414;
    font-size: 4em;
    line-height: 4.5rem;
    max-width: initial;
    text-align: center;
  }
}
